<?xml version="1.0"?>
<!-- Checkstyle complexity limits for Java. -->
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <module name="TreeWalker">
    <module name="CyclomaticComplexity">
      <property name="max" value="10"/>
    </module>
    <module name="NPathComplexity">
      <property name="max" value="200"/>
    </module>
    <module name="JavaNCSS">
      <property name="methodMaximum" value="60"/>
    </module>
    <module name="MethodLength">
      <property name="max" value="60"/>
    </module>
  </module>
</module>
